<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-container">
    <!-- Noticia principal -->
    <app-card
      *ngIf="topNews.length"
      [news]="topNews[0]"
      [size]="'large'"
      (open)="openNewsModal($event)"
    ></app-card>

    <!-- Resto de noticias -->
    <div class="other-news" *ngIf="topNews.length > 1">
      <app-card
        *ngFor="let news of topNews.slice(1)"
        [news]="news"
        [size]="'small'"
        (open)="openNewsModal($event)"
      ></app-card>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" threshold="100px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more news..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
