<ion-menu side="start" menuId="first" contentId="main-content">
  <app-sidebar></app-sidebar>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="home-container">
    <app-principal-news
      [news]="topNews[0]"
      (open)="openNewsModal($event)"
    ></app-principal-news>

    <div class="other-news" *ngIf="topNews.length > 1">
      <app-card
        *ngFor="let news of topNews.slice(1)"
        [news]="news"
        [size]="'small'"
        (open)="openNewsModal($event)"
      ></app-card>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" threshold="100px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more news..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
