.news-card {
  cursor: pointer;
  width: calc(50% - 20px);
  display: inline-block;
  vertical-align: top;
  margin: 10px;

  img {
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
  }

  ion-card-title {
    font-size: 1.1rem;
    font-weight: 500;
  }

  ion-card-content {
    font-size: 0.9rem;
    color: #555;
  }
}
